@media (max-width : 739px){
    .header__logo img{
        height: 140%;
        position: relative;
        top: -8px;
    }
    .smp{
        display: flex;
        flex-direction: column;
    }
    .smp .questions {
        width: 100%;
        align-items: center;
        justify-items: center;
    }
    .smp .border {
        width: 100%;
        max-width: 100%;
        align-items: center;
        justify-items: center;
    }


    .title-1 {
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 8px;
    }

    .title-2 {
        text-align: center;
        font-size: 1.8rem;
    }

    button.to-top, button.chat-btn {
        right: 8px;
        bottom: 8px;
    }
    button.see-more {
        display: block;
        width: 50%;
        margin: 24px auto;
    }

    button.submit, button.primary {
        width: 100%;
    }
    .infor {
        width: 100%;
    }
    .container + .container {
        margin-top: 16px;
    }

    header {
        padding: 0;
        /* align-items: flex-start; */
        position: relative;
    }

    .header__search {
        flex: 1;
        padding: 0 20px 0 40px;
    }

    .header__search input{
        border-radius: 10px;
        width: 100%;
        height: 40px;
    }
    
    .search__icon {
        display: none;
        
    }

    .menu-icon {
        display: block;
        font-size: 3.2rem;
        margin-left: 16px;
        border-radius: 8px;
        height: 44px;
        padding: 0 4px;
    }
    .header__menu {
        position: absolute;
        top: 100%;
        z-index: 10;
        box-shadow: 4px 4px 12px #333;
        transform: translateX(-120%);
        transition: 0.3s ease;
    }
    .menu-show {
        transform: translateX(0%);
    }
    .nav__list {
        /* position: fixed; */
        display: flex;
        flex-direction: column;
        background-color: var(--main-bg);
    }
    .header__logo {
        display: none !important;
    }
    .form-message {
        top: 4px;
        left: 4px;
        right: 4px;
    }
    
    .slider {
        width: 100%;
        max-width: 100%;
        position: relative;
    }
    
    .slider-main {
        width: 100%;
        max-width: 100%;
        display: flex;
        position: relative;
    }
    
    .slider-item {
        height: 100%;
        max-width: 100%;
        flex: 1 0 100%;
        width: auto;
    }
    .slider-item img {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
/* trang 1 */
    .attraction__infor {
        margin: 30px 20px 0;
    }

    .attraction__item {
        width: 100%;
    }

    .attraction__icon {
        margin: 0 auto;
    }

    .attraction__title {
        max-height: 32px;
    }

    .attraction__item a {
        padding: 20px 40px;
        text-align: center;
    }

    .program__thumnail {
        padding: 0 20px;
    }

    .program__image {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .major-programs {
        flex-direction: column;
        padding: 16px;
    }

    .major-program {
        width: 100%;
    }

    .major-program + .major-program {
        margin-top: 40px;
    }

    .map iframe {
        height: 300px;
    }

    footer {
        margin-top: 16px;
    }

    .footer__logo img {
        max-width: 100%;
    }
    footer .container{
        flex-direction: column;
    }

    footer .container:last-child{
        flex-direction: column-reverse;
        padding: 20px;
    }

    .socials {
        margin-bottom: 12px;
    }
/* trang 2 */
    .facility-list, .contact-list {
        width: 100%;
        padding: 12px;
    }

    .faculty-item.vertical {
        margin: 8px 8px 0 4px;
    }
    .facilities {
        margin-top: 8px;
    }

    .program-intro {
        padding: 0 20px;
    }

    .side-infor {
        position:fixed;
        inset: 0;
        display: block;
        inset: 0;
        left: 100%;
        z-index: 10;
        background-color: #fff;
        width: 100%;
        height: auto;
        padding: 20px;
        overflow: scroll;
    }

    .side-infor.fixed {
        left: 0;
    }

        
    button.swipe-btn {
        display: block;
        width: 30px;
        transition: all 0.3s ease;

    }
    button.swipe-left-btn {
        position: fixed;
        bottom: 50%;
        
        z-index: 12;
        background-color: var(--main-yellow);
        padding: 24px 6px;
        opacity: 0.3;
        transition: 0.2s ease;
        box-shadow: none;
        border-radius: 12px 0 0 12px;
        right: 0;
    }
    .swipe-right-btn {
        position: fixed;
        bottom: 50%;
        z-index: 12;
        background-color: var(--main-yellow);
        padding: 24px 6px;
        opacity: 1;
        transition: 0.2s ease;
        box-shadow: none;
        /* left: 0; */
        right: calc(100% - 30px);
        border-radius: 0 12px 12px 0;

    }

    .swipe-right-btn i {
        transform: scaleX(-1);
    }

    button.swipe-left-btn:hover {
        opacity: 1
    }

    .program-desc {
        padding: 20px;
    }

    .heading-on-mobile {
        display: block;
        text-align: center;
    }


    .nav-tool {
        padding: 12px 24px 0 24px;
        border-radius: 10px;
        margin: 24px 8px 0;
    }
    
    .nav-tool-item {
        padding: 12px 22px 20px 22px;
    }
    
    .current {
        border-radius: 10px 10px 0 0;
    }
    
    .current::before {
        width: 20px;
        height: 20px;
        right: -20px;
        box-shadow: -10px 10px 0 0 #fff;
    }
    
    .current::after {
        width: 20px;
        height: 20px;
        left: -20px;
        box-shadow: 10px 10px 0 0 #fff;
    }

    .modal-container {
        width: 100%;
        padding: 40px 16px 16px;
        margin: 4px 8px;
    }
    .modal .video {
        width: 100%;
    }
    .close-modal {
        top: 4px;
        right: 4px;
        margin: 0;
    }
    /* trang 4 */
    .article-list {
        flex-direction: column;
    }
    .article-item {
        width: 100%;
        text-align: center;
    }
    .topic-item>h3 {
        text-align: center;
    }

    /* trang 3 */
    .gioithieu {
        font-size: 1.2rem;
    }
    .tracuu{
        padding: 18px 0 8px 10px;
    }

    .choose {
        width: 100%;
        padding-left: 10px;
    }
    .tuyensinh .container .flex {
        flex-direction: column;
    }

    .tuyensinh>.container>.flex>div{
        max-width: 100%;
    }

    .tuyensinh .container>.flex>div:first-child  {
        max-width: 100%;
    }

    .padding-bot:last-child {
        padding-top: 0;
    }
    .section_item1 {
        padding: 0 15px;
    }
    .right {
        max-width: 100%;
    }
    .left {
        max-width: 100%;
        padding: 0 10px;
    }
    .Register {
        /* background-image: none; */
        height: 100%;
        background-size: cover;
    }

    .title {
        text-align: center;
    }

    .Register-items {
        flex-direction: column;
    }
    .Register-item {
        width: 100%;
        margin-top: 8px;
        
    }

    .Last .container .flex {
        flex-direction: column;
    }
    .Last .container .flex>div {
        max-width: 100%;
        width: 100%;
        padding: 10px;
    }

    .card_item {
        padding: 20px 10px;
    }

    .card_item>.flex {
        flex-direction: column;
    }
    .card_item>.flex>div {
        max-width: 100%;
    }
    .Around_photo img {
        max-width: 100%;
        height: 240px;
        object-fit: cover;
        border-radius: 4px;

    }
    .Around_title {
        padding: 0;
    }
    .main_content{
        width: 100%;
        margin-top: 12px;
    }
    /* demo article */
    .content-wrapper {
        padding: 20px;
    }

    .content .title-2 {
        margin: 24px 0 12px;
        text-align: left;
    }
    /* hoc bong */
    .hocbong-item{
        padding:0 10px;
        max-width:50%;
    }
    .text-hocbong {
        font-size: 1.8rem;
    }
}