/* slider */
.infor {
    width: 66.667%;
}
/** nav bar */
.nav-tool {
    display: flex;
    padding: 12px 24px 0 24px;
    background-color: var(--main-bg);
    color: #fff;
    font-size: 1.8rem;
    justify-content: center;
    margin-top: 24px;
    border-radius: 15px;
}
.nav-tool-item {
    padding: 12px 22px 20px 22px;
    cursor: pointer;
}
/* faculty */
.faculty-wrap {
    overflow: hidden;
    display: flex;
    width: 100%;
}
.faculty-list {
    margin-top: 16px;
    flex: 1 0 100%;
    display: none;
    animation: slideIn cubic-bezier(0.39, 0.58, 0.57, 1) 0.5s;
}
.faculty-list:first-child {
    display: block;
}
.faculty-item {
    display: flex;
    border: 2px solid var(--main-yellow);
    border-radius: 16px;
    overflow: hidden;   
    box-shadow: 3px 4px 0px #333;
    margin-right: 16px;
    margin-bottom: 16px;
    transition: 0.25s ease;
}
.faculty-item:hover {
    box-shadow: 3px 4px 8px #333;
}
.faculty-item:hover img {
    transform: scale(1.1);
}
.faculty-item.vertical {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 8px 8px 0;
    text-align: center;
}
.faculty-item.vertical .faculty-detail {
    width: 100%;
}
.faculty-item.vertical .major-list {
    height: auto;
}
.faculty-item.vertical .major-item {
    margin: 0;
    width: 100%;
}
.faculty-item + .faculty-item {
    margin-top: 16px;
}
.faculty-thumnail {
    width: 320px;
    height: 220px;
    overflow: hidden;
}
.faculty-thumnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .2s ease-in-out;
}
.faculty-detail {
    padding: 12px 24px;
    flex: 1;
}
.program-intro {
    margin-bottom: 40px;
}
.program-desc {
    margin-top: 16px;
}
.program-intro p {
    margin-bottom: 8px;
}
.faculty-name {
    margin-top: 0;
    font-size: 2rem;
}
.major-list {
    margin-top: 16px;
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}
.major-item {
    margin-left: 8px;
    transition: 0.25s ease;
    /* display: flex; */
    padding: 8px;
}
.major-item i {
    transition: all 0.25s ease;
    display: none;
}
.major-item:hover{
    transform: translateX(4px);
}
.major-item:hover i {
    display: inline;
}
/* modal */
.modal {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
    display: none;
    transition: 0.3s ease;
    animation: fadeIn 0.3s ease;
}
.code span {
    color: var(--main-yellow);
}
.modal h3 {
    margin-top: 8px;
}
.modal span {
    font-weight:600;
}
.modal-container {
    max-width: 800px;
    background-color: #fff;
    padding: 24px 40px;
    position: relative;
    border-radius: 1.6rem;
}
.close-modal {
    position: absolute;
    top: 20px;
    right: 40px;
}
.modal .title {
    font-size: 2rem;
    text-align: center;
    margin: 16px;
}