@media (max-width : 739px){
    .side-infor{
        width: 100%;
    }
    .title-1 {
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 8px;
    }
    .title-2 {
        text-align: center;
        font-size: 1.8rem;
    }
    button.to-top {
        right: 8px;
        bottom: 8px;
    }
    button.submit{
        width: 100%;
    }
    .infor {
        width: 100%;
    }
    header {
        padding: 0;
        position: relative;
    }
    .header__search {
        flex: 1;
        padding: 0 20px 0 40px;
    }
    .header__search input{
        border-radius: 10px;
        width: 100%;
        height: 40px;
    }
    .search__icon {
        display: none;
    }
    .menu-icon {
        display: block;
        font-size: 3.2rem;
        margin-left: 16px;
        border-radius: 8px;
        height: 44px;
        padding: 0 4px;
    }
    .header__menu {
        position: absolute;
        top: 100%;
        z-index: 10;
        box-shadow: 4px 4px 12px #333;
        transform: translateX(-120%);
        transition: 0.3s ease;
        width: 100%;
    }
    .menu-show {
        transform: translateX(0%);
    }
    .nav__list {
        display: flex;
        flex-direction: column;
        background-color: var(--main-bg);
    }
    .header__logo {
        display: none !important;
    }
/* footer */
    .major-program {
        width: 100%;
    }
    .major-program + .major-program {
        margin-top: 40px;
    }
    footer {
        margin-top: 16px;
    }
    .footer__logo img {
        max-width: 100%;
    }
    footer .container{
        flex-direction: column;
    }
    footer .container:last-child{
        flex-direction: column-reverse;
        padding: 20px;
    }
    .map{
        width: 100%;
    }
    .socials {
        margin-bottom: 12px;
    }
/* infor */
    .facility-list, .contact-list {
        width: 100%;
        padding: 12px;
    }
    .faculty-item{
        display: block;
        justify-content: center;
        align-items: center;
    }
    .faculty-item.vertical {
        margin: 8px 8px 0 8px;
    }
    .facilities {
        margin-top: 8px;
    }
    .program-intro {
        padding: 0 20px;
    }
    .side-infor {
        position:fixed;
        inset: 0;
        display: block;
        inset: 0;
        left: 100%;
        z-index: 10;
        background-color: #fff;
        width: 100%;
        height: auto;
        padding: 20px;
        overflow: scroll;
    }
    .side-infor.fixed  {
        left: 0;/* để kéo tuyển sinh sang trái */
    }
    button.swipe-btn {
        display: block;
        width: 30px;
        transition: all 0.3s ease;

    }
    button.swipe-left-btn {
        position: fixed;
        bottom: 50%;
        
        z-index: 12;
        background-color: var(--main-yellow);
        padding: 24px 6px;
        opacity: 0.3;
        transition: 0.2s ease;
        box-shadow: none;
        border-radius: 12px 0 0 12px;
        right: 0;
    }
    .swipe-right-btn {
        position: fixed;
        bottom: 50%;
        z-index: 12;
        background-color: var(--main-yellow);
        padding: 24px 6px;
        opacity: 1;
        transition: 0.2s ease;
        box-shadow: none;
        right: calc(100% - 30px);
        border-radius: 0 12px 12px 0;
    }
    .swipe-right-btn i {
        transform: scaleX(-1);
    }
    button.swipe-left-btn:hover {
        opacity: 1;
    }
    .program-desc {
        padding: 20px;
    }
    .heading-on-mobile {
        display: block;
        text-align: center;
    }
    .nav-tool {
        padding: 12px 24px 0 24px;
        border-radius: 10px;
        margin: 24px 8px 0;
    }
    .nav-tool-item {
        padding: 12px 22px 20px 22px;
    }
    .modal-container {
        width: 100%;
        padding: 40px 16px 16px;
        margin: 4px 8px;
    }
}
