/* variable */
:root {
    --main-bg: #00377a;
    --second-bg: #e8f0fe;
    --text-color: #06283D;
    --main-yellow: #4437f0;
}

/* reset css */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
html {
font-size: 62.5%;
font-family: 'Open Sans', sans-serif;
}
body {
font-size: 1.6rem;
}
a {
text-decoration: none !important;
color: inherit;
}
ul {
padding-left: 0;
margin: 0;
list-style: none;
}
/* button */
button {
outline: none;
border: none;
font-size: 1.6rem;
font-weight: 600;
padding: 10px 30px;
border-radius: 12px;
margin-top: 12px;
cursor: pointer;
box-shadow: 3px 4px 8px #ccc;
transition: 0.2s;
}
button.submit {
display: block;
margin-left: auto;
background-color: var(--main-bg);
color: #fff;
box-shadow: var(--text-color) 3px 3px 0;
}
.space {
display: inline-block;
width: 40px;
}
button.to-top {
position: fixed;
right: 24px;
bottom: 24px;
padding: 0;
font-size: 4rem;
background-color: transparent;
box-shadow: none;
color: var(--main-yellow);
transform: translateY(100px);
opacity: 0;
transition: all 1s ease;
z-index: 3;
}
button.swipe-btn {
display: none;
}
/* title */
.title-1 {
font-size: 3.2rem;
font-weight: 700;
margin-top: 24px;
text-transform: uppercase;
color: var(--text-color);
}
.title-2 {
font-size: 2rem;
font-weight: 600;
margin-top: 12px;
color: var(--text-color);
}
/* animation */
.to-top.show {
opacity: 0.7;
transform: translateY(0);
}
/* header - start */
header {
height: 100px;
background: var(--main-bg);
padding: 0 32px;
display: flex;
align-items: center;
justify-content: space-between;
color: #fff;
transition: all 0.5s ease;
}
.menu-icon {
display: none;
}
.header__logo img{
position: relative;
height: 64px;
display: block;
align-items: center;
justify-content: center;

}
.nav__list {
padding: 0;
list-style-type: none;
font-size: 1.8rem;
font-weight: 550;
display: flex;
}
.nav__item {
padding: 8px 12px;
}
.nav__item-link {
color: #fff;
text-decoration: none;
font-weight: 600;
font-size: 2rem;
position: relative;
z-index: 1;
}
.nav__item:hover{
transform: scale(1.1);
}
.search {
border-radius: 8px;
display: flex;
flex: 1;
position: relative;
}
.search__input {
width: 240px;
padding: 6px 20px;
font-size: 1.4rem;
outline: none;
border: none;
font-family: 'Open Sans', sans-serif;
border-radius: 8px 0 0 8px;
color: var(--text-color);
}
.search__icon {
padding: 6px 16px;
background-color: var(--main-yellow);
cursor: pointer;
border-radius: 0 8px 8px 0;
}
.fa-magnifying-glass:before{
color: #fff;
font-size: 1.6rem;
position: relative;
top: 1px;
}
/* section */
.infor {
    width: 66.667%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;   
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.container + .container {
    margin-top: 40px;
}
.side-section + .side-section {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
}
/* side infor */
.side-infor {
    width: 33.333%;
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}
.heading-on-mobile {
    display: none;
}
.heading-on-mobile h3 {
    margin: 0;
    text-align: center;
}
.fanpage-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-top: 12px;
    border: 2px solid var(--text-color);
}
/** nav bar */
.nav-tool {
    display: flex;
    padding: 12px 24px 0 24px;
    background-color: var(--main-bg);
    color: #fff;
    font-size: 1.8rem;
    justify-content: center;
    margin-top: 24px;
    border-radius: 15px;
}
.nav-tool-item {
    padding: 12px 22px 20px 22px;
    cursor: pointer;
}
.current {
    background-color: #fff;
    color: var(--text-color);
    font-weight: 600;
    position: relative;
    border-radius: 24px 24px 0 0;
    transition: position 0.25s ease;
}
.current::before {
    content: "";
    display: block;
    background-color: var(--main-bg);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    bottom: 0;
    box-shadow: -15px 15px 0 0 #fff;
}
.current::after {
    content: "";
    display: block;
    background-color: var(--main-bg);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: -30px;
    bottom: 0;
    box-shadow: 15px 15px 0 0 #fff;
}
/* faculty */
.faculty-wrap {
    overflow: hidden;
    display: flex;
    width: 100%;
}
.faculty-list {
    margin-top: 16px;
    flex: 1 0 100%;
    display: none;
    animation: slideIn cubic-bezier(0.39, 0.58, 0.57, 1) 0.5s;
}
.faculty-list:first-child {
    display: block;
}
.faculty-item {
    display: flex;
    border: 2px solid var(--main-yellow);
    border-radius: 16px;
    overflow: hidden;   
    box-shadow: 3px 4px 0px #333;
    margin-right: 16px;
    margin-bottom: 16px;
    transition: 0.25s ease;
}
.faculty-item:hover {
    box-shadow: 3px 4px 8px #333;
}
.faculty-item:hover img {
    transform: scale(1.1);
}
.faculty-item.vertical {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 8px 8px 0;
    text-align: center;
}
.faculty-item.vertical .faculty-detail {
    width: 100%;
}
.faculty-item.vertical .major-list {
    height: auto;
}
.faculty-item.vertical .major-item {
    margin: 0;
    width: 100%;
}
.faculty-item + .faculty-item {
    margin-top: 16px;
}
.faculty-thumnail {
    width: 320px;
    height: 220px;
    overflow: hidden;
}
.faculty-thumnail img {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    transition: all .2s ease-in-out;
}
.faculty-detail {
    padding: 12px 24px;
    flex: 1;
    float: right;

}
.faculty-name {
    top: 16px;
    margin-top: 0;
    font-size: 2rem;
}
.program-intro {
    margin-bottom: 40px;
}
.program-desc {
    margin-top: 16px;
}
.program-intro p {
    margin-bottom: 8px;
}

.major-list {
    margin-top: 16px;
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}
.major-item {
    margin-left: 8px;
    transition: 0.25s ease;
    /* display: flex; */
    padding: 8px;
}
.major-item i {
    transition: all 0.25s ease;
    display: none;
}
.major-item:hover{
    transform: translateX(4px);
}
.major-item:hover i {
    display: inline;
}
/* form  */
.form {
    margin-top: 12px;
    padding: 20px;
    border: 2px solid var(--text-color);
    border-radius: 4px;
    background-color: #e8f0fe;
}
.form-field {
    position: relative;
    margin-top: 16px;
}
.form-input{
    border-radius: 4px;
    border: 2px solid var(--text-color);
    width: 100%;
    padding: 12px 20px;
    outline: none;
    transition: all 0.25s ease;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--text-color);
}
select.form-input {
    padding: 12px 16px;
}
.form-input:not(:placeholder-shown),.form-input:focus { /*form-input:not(:placeholder-shown) : chọn các phần tử có nhập rồi; form-input:focus : phần tử được nhấn chọn*/
    border-color: var(--main-bg);
    font-weight: 500;
    background-color: #e8f0fe;
}
.form-label {
    font-size: 1.6rem;
    position: absolute;
    left: 21px;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: 0.25s ease;
}
textarea.form-input + .form-label {
    top: 24px;
}
.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
    background-color: #e8f0fe;
    top: 0%;
    left: 11px;
    display: inline-block;
    padding: 0 10px;
    color: var(--main-bg);
    font-weight: 500;
}
select{
    padding: 0 18px;
}
textarea {
    resize: vertical;
}
.form-message {
    position: fixed;
    top: 84px;
    right: 20px;
    display: flex;
    align-items: stretch;
    border-radius: 6px;
    width: 360px;
    overflow: hidden;
    border: 1px solid ;
    font-size: 1.4rem;
    transform: translateX(400px);
    transition: 0.3s ease;
    opacity: 0;
    z-index: 20;
}
.message-show {
    transform: translateX(0);
    opacity: 1;
}
.form-message.success {
    background-color: #eaf7ee;
    border-color: #3fbf62;
}

.form-message.fail {
    background-color: #fcede9;
    border-color: #ea4e2c;
}

.form-message.success .message-icon {
    color: #3fbf62;
    border-color: #3fbf62;
}

.form-message.fail .message-icon {
    color: #ea4e2c;
    border-color: #ea4e2c;
}

.message-icon {
    border-left: 4px solid;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.message-text {
    flex: 1;
    padding: 20px 10px;
}

.message-text>h3 {
    margin-bottom: 4px;
}
/* modal */
.modal {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
    display: none;
    transition: 0.3s ease;
}
.code span {
    color: var(--main-yellow);
}
.modal h3 {
    margin-top: 8px;
}
.modal span {
    font-weight:600;
}
.modal-container {
    max-width: 800px;
    background-color: #fff;
    padding: 24px 40px;
    position: relative;
    border-radius: 1.6rem;
}
.close-modal {
    position: absolute;
    top: 20px;
    right: 40px;
}
.modal .title {
    font-size: 2rem;
    text-align: center;
    margin: 16px;
}

.fan-page a img{
    background-size: cover;
}/* footer */
footer {
    background-color: var(--main-bg);
    margin-top: 50px;
    color: #fff;
}
footer > .container {
    margin: 0 auto;
    padding: 30px 0;
}
.contact-list, .facility-list {
    width: 50%;
}
.facility-list {
    padding-left: 80px;
}
.facilities {
    margin-top: 30px;
}
.footer__title {
    color: #fff;
    margin-top: 12px;
}
.footer__logo {
    margin-bottom: 24px;
    margin-left: -28px;
}
.footer__logo img {
    width: 25%;
}
.footer__item {
    margin-top: 8px;
    display: inline-block;
}
.footer__item:hover a{
    transition: 0.25s ease;
    color: var(--main-yellow);
}
.footer__item a i {
    display: inline-block;
    width: 16px;
    font-size: 1.7rem;
    margin-right: 4px;
}
.map{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
}
.socials {
    text-align:center ;
    flex: 1;
}
.social {
    display: inline-block;
    font-size: 3.2rem;
    width: 24px;
    margin:0 12px;
}
.copyright {
    background-color: var(--text-color);
    padding: 8px 0;
    text-align: center;
}
.copyright .container {
    margin: 0 auto;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
}
